.bb_main{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media screen and (max-width: 480px) {
    .bb_main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
  }


.bb_left{
width: 40%;
text-align: left;
}

@media screen and (max-width: 480px) {
    .bb_left {
        width: 90%;
    }
  }
.bb_right{
    width: 50%;
    display: flex;
}

@media screen and (max-width: 480px) {
    .bb_right {
        width: 90%;
        display: flex;
    }
  }

  @media only screen and (min-width: 1200px) {
    .bb_right{
        width: 50%;
        display: flex;
        margin-left: 10%;
    }
  }

.bb_head1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
padding-bottom: 40px;

color: #291507;
}

.bb_head2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
padding-bottom: 40px;
color: #291507;
}
.bb_head3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: rgba(41, 21, 7, 0.6);
}

.bb_image1{
    width: 250px;
    height: 160px;
    padding-right: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .bb_image1{
        width: 150px;
        height: 190px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
  }
.bb_image2{
    width: 195px;
    height: 293px;
}

@media screen and (max-width: 480px) {
    .bb_image2{
        width: 175px;
        height: 265px;
    }
  }
.bb_image3{
    width: 234px;
    height: 385px;
}

@media screen and (max-width: 480px) {
    .bb_image3{
        width: 200px;
        height: 295px;
    }
  }