.mb_main{
    width: 90%;
    height:fit-content;
    background: #E3E1DC;
    border-radius: 0px 0px 42px 42px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 480px) {
    .mb_main {
        width: 100%;
    }
}

.mb_head1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #291507;
}

.underline{
    width: 59.18px;
height: 3.21px;
background: #4D270C;
border-radius: 77px;
}

.mb_container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb_head2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
width: 50%;
color: #291507;
margin-top: 20px;
margin-left: 10%;
}

.mb_head3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: right;

color: rgba(41, 21, 7, 0.6);
padding-right: 10px;
cursor: pointer;
margin-right: 10%;
}

.mb_catImage{
    width: 300px;
    height: 240px;
    margin: 5%;
    border-radius: 12px;
}

@media screen and (max-width: 480px) {
    .mb_catImage {
        width: 200px;
        height: 150px;
    }
}
.bm_images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}
.mb_catname{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #291507;
}